# Day 2 - Advent of Code 2023

## Part 1

In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True, precision=4)
pd.options.display.float_format = '{:,.4f}'.format

import re

In [2]:
def extract_info(t):
    r = re.search(r'Game \d+', t)
    game_id = int(r[0][5:])
    idx = r.end()
    games = t[idx+2:].split('; ')
    trials = []

    for game in games:
        reds = re.search(r'\d+ red', game)
        greens = re.search(r'\d+ green', game)
        blues = re.search(r'\d+ blue', game)
        
        if reds:
            red_count = re.search(r'\d+', reds[0])[0]
        else:
            red_count= 0

        if greens:
            green_count = re.search(r'\d+', greens[0])[0]
        else:
            green_count= 0

        if blues:
            blue_count = re.search(r'\d+', blues[0])[0]
        else:
            blue_count= 0

        trials.append([red_count, green_count, blue_count])

    return pd.Series(
            [game_id, trials],
            index=['game_id', 'trials']
        )

In [3]:
data = pd.read_csv('day_02.txt', header=None, sep='|', names=['original_txt'])
data[0:5]

                                        original_txt
0  Game 1: 2 red, 2 green; 6 red, 3 green; 2 red,...
1  Game 2: 2 green; 15 red, 5 blue; 2 green, 4 bl...
2  Game 3: 10 blue, 8 red, 5 green; 5 green, 3 re...
3  Game 4: 2 green, 3 blue, 1 red; 17 green, 1 bl...
4  Game 5: 4 green, 13 red, 3 blue; 14 blue, 5 gr...

In [4]:
df = data['original_txt'].apply(extract_info).explode('trials')
df[['red', 'green', 'blue']] = df['trials'].to_list()
df = df.drop(columns='trials').map(lambda x: int(x))
df[0:5]

   game_id  red  green  blue
0        1    2      2     0
0        1    6      3     0
0        1    2      1     2
0        1    1      0     0
1        2    0      2     0

In [5]:
red_max, green_max, blue_max = [12, 13, 14]

df_grp = df.groupby('game_id', as_index=False).max()
idx = df_grp.query("red <= @red_max and green <= @green_max and blue <= @blue_max").index
df_grp.loc[idx[0:5], :]

   game_id  red  green  blue
0        1    6      3     2
2        3   12      6    10
6        7    6      5     1
8        9   11     12     6
9       10    7     12     6

In [6]:
df_grp.loc[idx, 'game_id'].sum()

2169

## Part 2

In [7]:
# df_grp = df_grp.replace({0:1})
(df_grp['red'] * df_grp['green'] *df_grp['blue']).sum()

60948