# Day 1 - Advent of Code 2023

## Part 1

In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True, precision=4)
pd.options.display.float_format = '{:,.4f}'.format

import re

In [2]:
data = pd.read_csv('day_01.txt', header=None, names=['strings'])
data[0:5]

                        strings
0                   29lzrxseven
1            9nnqljsixkzphvtmtr
2       five73kskpfgbkcltwoccvf
3                        fiveq7
4  npfdbnjlthree6cmdbsrsqc9five

In [3]:
def cal_values(t):
    ln = re.findall(r'[0-9]', t)
    if len(ln) > 1:
        res = ln[0] + ln[-1]
        res = int(res)
    else:
        res = ln[0]*2
        res = int(res)
    return res

In [4]:
res = data['strings'].apply(cal_values)
res[0:5]

0    29
1    99
2    73
3    77
4    69
Name: strings, dtype: int64

In [5]:
res.sum()

55834

## Part 2

In [6]:
def cal_values(t):
    # "eighthree" should be 83 and "sevenine" should be 79
    str2num = {
        'one':   'o1e',
        'two':   't2o',
        'three': 't3e',
        'four':  'f4r',
        'five':  'f5e',
        'six':   's6x',
        'seven': 's7n',
        'eight': 'e8t',
        'nine':  'n9e'
    }
    for k, v in str2num.items():
        t = t.replace(k, v)

    ln = re.findall(r'[0-9]', t)
    if len(ln) > 1:
        res = ln[0] + ln[-1]
        res = int(res)
    else:
        res = ln[0]*2
        res = int(res)
    return res

In [7]:
res = data['strings'].apply(cal_values)
res[0:5]

0    27
1    96
2    52
3    57
4    35
Name: strings, dtype: int64

In [8]:
res.sum()

53221