# Day 7 - Advent of Code 2023

## Part 1

In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True, precision=4)
pd.options.display.float_format = '{:,.4f}'.format

import re
from collections import Counter

In [2]:
def hand_rank(t):
    # Five of a kind (7), Four of a kind (6), Full house (5), Three of a kind (4), Two pair (3), One pair (2), High card (1)
    card_counter = Counter(t)
    if card_counter.most_common()[0][1] == 5:
        return 7
    elif card_counter.most_common()[0][1] == 4:
        return 6
    elif card_counter.most_common()[0][1] == 3 and card_counter.most_common()[1][1] == 2:
        return 5
    elif card_counter.most_common()[0][1] == 3:
        return 4
    elif card_counter.most_common()[0][1] == 2 and card_counter.most_common()[1][1] == 2:
        return 3
    elif card_counter.most_common()[0][1] == 2:
        return 2
    else:
        return 1

In [3]:
def card_ranks(t):
    cards_dict = {'A': 14, 'K': 13, 'Q': 12, 'J': 11, 'T': 10, '9': 9, 
                  '8':  8, '7':  7, '6':  6, '5':  5, '4':  4, '3': 3, '2': 2}
    res = []
    for card in t:
        res.append(cards_dict[card])
    res = pd.Series(res, index=['c1_rnk', 'c2_rnk', 'c3_rnk', 'c4_rnk', 'c5_rnk'])
    return res

In [4]:
data = pd.read_csv('day_07.txt', header=None, sep=' ', names=['hands', 'bids'])
data[0:5]

   hands  bids
0  32T3J   893
1  A9942    54
2  J57Q8   571
3  779TK   931
4  69696   457

In [5]:
data['hand_rnk'] = data['hands'].apply(hand_rank)
data = pd.concat([data, data['hands'].apply(card_ranks)], axis=1)
data = data.sort_values(
    by=['hand_rnk', 'c1_rnk', 'c2_rnk', 'c3_rnk', 'c4_rnk', 'c5_rnk'],
    ascending=[False]*6)
data['total_rnk'] = range(data.shape[0], 0, -1)
data[0:5]

     hands  bids  hand_rnk  c1_rnk  c2_rnk  c3_rnk  c4_rnk  c5_rnk  total_rnk
859  JJJJJ   503         7      11      11      11      11      11       1000
546  AAAJA   158         6      14      14      14      11      14        999
551  AA2AA   586         6      14      14       2      14      14        998
18   ATAAA   352         6      14      10      14      14      14        997
186  A9999   160         6      14       9       9       9       9        996

In [6]:
np.sum(data['bids'] * data['total_rnk'])

251545216

## Part 2

In [7]:
data = pd.read_csv('day_07.txt', header=None, sep=' ', names=['hands', 'bids'])

In [8]:
def hand_rank(t):
    # Five of a kind (7), Four of a kind (6), Full house (5), Three of a kind (4), Two pair (3), One pair (2), High card (1)
    jokers = len(re.findall('J', t))
    
    card_counter = Counter(t)
    if card_counter.most_common()[0][1] == 5:
        return 7
    elif card_counter.most_common()[0][1] == 4:
        if jokers:
            return 7
        else:
            return 6
    elif card_counter.most_common()[0][1] == 3 and card_counter.most_common()[1][1] == 2:
        if jokers:
            return 7
        else:
            return 5
    elif card_counter.most_common()[0][1] == 3:
        if jokers:
            return 6
        else:
            return 4
    elif card_counter.most_common()[0][1] == 2 and card_counter.most_common()[1][1] == 2:
        if jokers == 2:
            return 6
        elif jokers == 1:
            return 5
        else:
            return 3
    elif card_counter.most_common()[0][1] == 2:
        if jokers:
            return 4
        else:
            return 2
    else:
        if jokers:
            return 2
        else:
            return 1

In [9]:
def card_ranks(t):
    cards_dict = {'A': 14, 'K': 13, 'Q': 12, 'J': 1, 'T': 10, '9': 9, 
                  '8':  8, '7':  7, '6':  6, '5': 5, '4':  4, '3': 3, '2': 2}
    res = []
    for card in t:
        res.append(cards_dict[card])
    res = pd.Series(res, index=['c1_rnk', 'c2_rnk', 'c3_rnk', 'c4_rnk', 'c5_rnk'])
    return res

In [10]:
data['hand_rnk'] = data['hands'].apply(hand_rank)
data = pd.concat([data, data['hands'].apply(card_ranks)], axis=1)
data = data.sort_values(
    by=['hand_rnk', 'c1_rnk', 'c2_rnk', 'c3_rnk', 'c4_rnk', 'c5_rnk'],
    ascending=[False]*6)
data['total_rnk'] = range(data.shape[0], 0, -1)
data[0:5]

     hands  bids  hand_rnk  c1_rnk  c2_rnk  c3_rnk  c4_rnk  c5_rnk  total_rnk
546  AAAJA   158         7      14      14      14       1      14       1000
715  KKJJJ   961         7      13      13       1       1       1        999
236  KJKKJ   322         7      13       1      13      13       1        998
151  QQJQQ   245         7      12      12       1      12      12        997
650  QJJQQ   165         7      12       1       1      12      12        996

In [11]:
np.sum(data['bids'] * data['total_rnk'])

250384185