# Day 5 - Advent of Code 2021

## Part 1

In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True, precision=4)
pd.options.display.float_format = '{:,.4f}'.format

In [2]:
with open('day_05.txt') as f:
    data = f.read()
    data_list = data.split('\n')

In [3]:
arr = np.array([j.split(',') for j in [i.replace(' -> ', ',') for i in data_list]]).astype(np.int32)
df = pd.DataFrame(arr, columns=['x1', 'y1', 'x2', 'y2'])
df = df.query('(x1 == x2) or (y1 == y2)')
df[0:5]

    x1   y1   x2   y2
0  527  299  430  299
1  828  228   81  228
3   30  390   30  741
4  196  853  196  599
5  388  795  388  300

In [4]:
def create_points(row):
    if row['x1'] == row['x2']:
        ys = np.arange(np.min((row['y1'], row['y2'])), np.max((row['y1'], row['y2'])) + 1).reshape(-1, 1)
        pts = ys.shape[0]
        return np.c_[[[row['x1']]]*pts, ys]
    elif row['y1'] == row['y2']:
        xs = np.arange(np.min((row['x1'], row['x2'])), np.max((row['x1'], row['x2'])) + 1).reshape(-1, 1)
        pts = xs.shape[0]
        return np.c_[xs, [[row['y1']]]*pts]

In [5]:
points = df.apply(create_points, axis=1).explode()
points = pd.DataFrame(points.to_list(), columns=['x', 'y'])
points['cnt'] = 1
points[0:5]

     x    y  cnt
0  430  299    1
1  431  299    1
2  432  299    1
3  433  299    1
4  434  299    1

In [6]:
points.groupby(by=['x', 'y'], as_index=False).sum().query('cnt > 1').shape[0]

8111

## Part 2

In [7]:
df = pd.DataFrame(arr, columns=['x1', 'y1', 'x2', 'y2'])

In [8]:
def create_points(row):
    mat_x = mat_y = mat_d = np.array([[np.NaN, np.NaN]])

    if row['x1'] == row['x2']:
        ys = np.arange(np.min((row['y1'], row['y2'])), np.max((row['y1'], row['y2'])) + 1).reshape(-1, 1)
        pts = ys.shape[0]
        mat_x = np.c_[[[row['x1']]]*pts, ys]
    elif row['y1'] == row['y2']:
        xs = np.arange(np.min((row['x1'], row['x2'])), np.max((row['x1'], row['x2'])) + 1).reshape(-1, 1)
        pts = xs.shape[0]
        mat_y = np.c_[xs, [[row['y1']]]*pts]
    elif np.abs(row['x2'] - row['x1']) == np.abs(row['y2'] - row['y1']):
        if row['x2'] > row['x1']:
            xs = np.arange(row['x1'], row['x2'] + 1).reshape(-1, 1)
        else:
            xs = np.arange(row['x1'], row['x2'] - 1, -1).reshape(-1, 1)
        if row['y2'] > row['y1']:
            ys = np.arange(row['y1'], row['y2'] + 1).reshape(-1, 1)
        else:
            ys = np.arange(row['y1'], row['y2'] - 1, -1).reshape(-1, 1)
        mat_d = np.c_[xs, ys]

    return np.r_[mat_x, mat_y, mat_d]

In [9]:
points = df.apply(create_points, axis=1).explode()
points = pd.DataFrame(points.to_list(), columns=['x', 'y']).dropna()
points['cnt'] = 1
points[0:5]

         x        y  cnt
1 430.0000 299.0000    1
2 431.0000 299.0000    1
3 432.0000 299.0000    1
4 433.0000 299.0000    1
5 434.0000 299.0000    1

In [10]:
points.groupby(by=['x', 'y'], as_index=False).sum().query('cnt > 1').shape[0]

22088