# Day 2 - Advent of Code 2021

## Part 1

In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True, precision=4)
pd.options.display.float_format = '{:,.4f}'.format

In [2]:
repl_dict = {'forward': 1, 'down': 1, 'up': -1}

data = pd.read_csv('day_02.txt', sep=' ', header=None, names=['dir', 'amt'])
data['dir_id'] = data['dir'].replace(repl_dict)
data[0:5]

       dir  amt  dir_id
0  forward    8       1
1  forward    3       1
2     down    8       1
3     down    2       1
4       up    1      -1

In [3]:
idx_h = data['dir'] == 'forward'
idx_v = data['dir'].isin(['down', 'up'])

(
    data.loc[idx_h, 'amt'].sum() *
    data.loc[idx_v, ['amt', 'dir_id']].prod(axis=1).sum()
)

1855814

## Part 2

In [4]:
data = pd.read_csv('day_02.txt', sep=' ', header=None, names=['dir', 'amt'])

idx = (data['dir'] == 'forward')
data.loc[idx, 'frw'] = data['amt']
data['frw'] = data['frw'].replace({'nan':np.nan})

data['aim_dir'] = data['dir'].replace({'down': 1, 'up': -1, 'forward': np.nan})
data['aim'] = (data['aim_dir'] * data['amt']).cumsum()
data['aim'] = data['aim'].ffill().fillna(0)
data['dpth'] = data['frw'] * data['aim']

data[0:5]

       dir  amt    frw  aim_dir     aim   dpth
0  forward    8 8.0000      NaN  0.0000 0.0000
1  forward    3 3.0000      NaN  0.0000 0.0000
2     down    8    NaN   1.0000  8.0000    NaN
3     down    2    NaN   1.0000 10.0000    NaN
4       up    1    NaN  -1.0000  9.0000    NaN

In [5]:
int(data['frw'].sum() * data['dpth'].sum())

1845455714